[mat-fab] {
  position: absolute;
  right: 2%;
  top: 35px;
  z-index: 1;
}

.app-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.chat-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.chat-input {
  padding-top: 20px;
  width: 80%;
}

.chat-list {
  overflow: auto;
  position: absolute;
  top: 20px;
  left: 25px;
  right: 25px;
  bottom: 210px;
}

.btn {
  position: absolute;
  right: 30px;
  top: 13px;
}
.btn2 {
  position: hidden;
  top: 100px;
}


table {
  width: 100%
}

.chat-list-item {
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  background-color: #E8EAF6;
}

.main-card {
  height: 100%;
}

.chat-footer-container {
  position: fixed;
  bottom: 25px;
  left: 25px;
  right: 25px;
}

.chat-notification {
  text-align: center;
}