/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.green-snackbar {
    background:rgb(36, 173, 43);
    color: #ffffff;
    button{
        color: #ffffff;

    }
}
.red-snackbar{
        background:rgb(240, 77, 13);
    color: #ffffff;
    button{
        color: #ffffff;

    }
}

